<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>

  <loggingConfiguration tracingEnabled="true" defaultCategory="General">
    <logFilters>
      <add
    name="Category"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
    categoryFilterMode="AllowAllExceptDenied">
        <categoryFilters>
          <add name="UI Events" />
        </categoryFilters>
      </add>
     
      <add name="LogEnabled Filter"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
        enabled="true"
           />


    </logFilters>

    <categorySources>
      
      <add
    name="Trace"
    switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </errors>
    </specialSources>

    <listeners>
      <add name="Event Log Destination"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
    listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
    source="Logging Quick Start"
    formatter="Text Formatter"
        machineName="."
    />
      <add name="Flat File Destination"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
    listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
    fileName="trace.log"
    header="----------------header------------------------"
    footer="----------------footer------------------------"
    formatter="Text Formatter"
    />
    
    </listeners>
    <formatters>
      <add
    name="Text Formatter"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
    template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;)}"




    />
    </formatters>
  </loggingConfiguration>
  
  
  <appSettings>
    <add key="IsSuperNode" value="True" />
    <add key="IsHttpNode" value="False" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UploadServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://video.vmukti.com/UploadService.asmx"
        binding="basicHttpBinding" bindingConfiguration="UploadServiceSoap"
        contract="UploadService.UploadServiceSoap" name="UploadServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>