<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rptCountByZipCode.Presentation.Properties.Settings.VMuktiConnectionString"
            connectionString="Data Source=ADIANCE\SQLEXPRESS;Initial Catalog=VMukti;Persist Security Info=True;User ID=sa;Password=mahavir"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>